.login-sct {
  background-image: url(https://i.pinimg.com/originals/7f/6a/35/7f6a35ff2444a468a0ca0dd27256127d.jpg);
}

#login .container {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    border: 2px solid black;
}

#login label , #login input , #login .forgot a , #login .text1 {
  font-family: Poppins-Regular;
}

#login .icons a {
  width: 40px;
  height: 40px;
  font-size: 22px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

#login .icons a:hover {
  background-color: black;
  transition: 1s;
}


@media (max-width:1500px) {

 
  .login-sct {
    width: 100%;
    height: auto;
  }

  #login .container {
    width: 400px;
    height: 500px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .loginForm {
    width: 300px;
    height: 400px;
  }

  .loginh2 {
    width: 290px;
    height: 50px;
  }

  .input-group {
    width: 290px;
    height: 50px;
  }
  .forgot {
    width: 290px;
    margin-top: 15px;
  }

  .loginBtn {
    width: 290px;
    height: 35px;
  }

  .text1 {
    width: 290px;
    height: 50px !important;
  }

  .icons {
    width: 290px;
  }

  .lastSign {
    width: 290px;
    height: 40px;
  }
}


@media (max-width:992px) {

 
  .login-sct {
    width: 100%;
    top: 70px;
  
  }
}


@media (max-width:460px) {

 
  .login-sct {
    width: 100%;
    height: auto;
  }

  #login .container {
    width: 340px;
    height: 460px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .loginForm {
    width: 260px;
    height: 360px;
  }

  .loginh2 {
    width: 250px;
    height: 45px;
  }

  .input-group {
    width: 250px;
    height: 45px;
  }
  .forgot {
    width: 250px;
    margin-top: 13px;
  }

  .loginBtn {
    width: 250px;
    height: 30px;
  }

  .text1 {
    width: 250px;
    height: 45px !important;
  }

  .icons {
    width: 250px;
  }

  .lastSign {
    width: 250px;
    height: 40px;
  }
}