@media (max-width:992px) {
    .cart-sct {
        width: 100%;
    }

}

@media (max-width:980px) {
    .cart-sct {
        width: 100%;
    }

    .cart-a {
        font-size: 16px;
    }

    .basket-container {
        width: 90%;
    }

    .basket-content {
        width: 100%;
        overflow: scroll;
    }

    .basket-detail {
        width: 800px !important;
        overflow: scroll;
    }

    .img-div {
        width: 220px;
       
    }

    .basketimg {
        height: 230px !important;
    }

    .basket-titlee {
        font-size: 19px;
    }

    .basket-title {
        width: 100%;
        overflow: scroll;
    }

    .baskett-ul {
        width: 760px;
       
    }
        
    
}