#signup .left-side {
    background-position: center;
    background-size: cover;
      background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://t3.ftcdn.net/jpg/06/33/49/68/360_F_633496882_tCHehtz21MNXiQ5ZZw4vOf1o0bXc372j.jpg)
  }
  
  
  #signup .input-group2 {
      width: 420px;
      height: 80px;
  }
  
  #signup .label2 {
      width: 93px;
      height: 25px;
      font-family: Poppins-SemiBold;
      font-size: 18px;
      color: #999999;
      line-height: 1.2;
      padding-left: 2px;
      font-weight: 600;
  }
  
  #signup .input2 {
      width: 420px;
      height: 50px;
      background: transparent;
      font-family: Poppins-Regular;
      font-size: 22px;
      color: #b4b4b4;
      line-height: 1.2;
      padding: 0 2px;
      outline: none;
      border: none;
      border-bottom: 2px solid #DBDBDB;
  }
  

  #signup .input-error {
      color: red;
      font-size: 14px;
      margin-top: 4px;
  }

  @media (max-width: 1500px) {
    .signup-sct , .right-side , .left-side {
        height: auto;

    }

    .signup-form {
        height: auto;
    }

    .h2-text {
        height: auto;
    }

  }

  @media (max-width: 1100px) {
    .left-side {
        width: 50%;

    }

  .right-side {
    width: 50%;

 }
  }

  @media (max-width: 860px) {
    .left-side {
        width: 40%;

    }

  .right-side {
    width: 60%;
    background-color: transparent;

 }
  }


  @media (max-width: 730px) {
    .left-side {
        width: 30%;

    }

  .right-side {
    width: 70%;

 }
  }


  @media (max-width: 640px) {
    .left-side {
        width: 20%;

    }

  .right-side {
    width: 80%;
 }
  }


  @media (max-width: 530px) {
    .left-side {
        width: 5%;

    }

  .right-side {
    width: 95%;
 }
  }


  @media (max-width: 460px) {
    .left-side {
        width: 0;

    }

  .right-side {
    width: 100%;
 }

 .signup-form {
    width: 330px !important;

 }

 .h2-textUp  {
    text-align: center;
    margin-top: 10px;
    width: 300px;
 }

 .registerBody {
    width: 300px;
 }

 .input-group2 {
    width: 320px !important;
 }

 .label2 , .input2 {
    width: 300px !important;
 }

 .terms {
    width: 300px !important;
 }

 .container-loginn {
    width: 300px !important;
   
    gap: 5px;
 }

 .firstBtn {
    width: 160px !important;
 }

  }